.txt5
{
  color: #a71fc9;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:lighter;
  margin: 2px;
}
.box3
{
    padding-top: 40px;
    padding-left: 100px;
}
.txt51
{
  color: #a71fc9;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bolder;
  margin: 2px;
}