.project{
    width: 1300px;
    height: 200px;
    display: flex;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0c2fc67;
}
.txt6
{
  color: #c940eb;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:lighter;
  margin: 5px;
}
.txt7
{
  color: #802198;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  margin: 5px;
}