
.layout{
    width: 431px;
    height: 8\500px;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto; 
    background-color: azure;
}
table{
    padding: 5px;
}
td{
    padding-left: 30px;
    padding-right: 30px;
}
.but{
    width: 115px;
    height: 50px;
}