
.layout{
    width: 740px;
    padding-top: 20px;
    height: 670px;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto; 
    background-color: #d0e989;
}
.layout2
{
    width: 720px;
    height: 653px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(29, 236, 29);
    border: 6px black double;
    padding: 0px;
    padding-top: 0px;
    border-top: 6px rgba(0, 0, 0, 0) double;;
}

.tr,li,label,input,h1{
    font-family:'Comic Sans MS' ;
    font-weight: lighter;
}
li,label,input{
    font-size:18px;
}
form{
    display: flex;
}

.dd{
    margin-left: 10px
}
.pp
{
    font-size: 80px;padding-top: 8px;
}
.ll{
    width: 240px;

}
.but{
    width: 60px;
    height: 20px;
    font-size:0px;
}
h1{
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    background-color: rgba(255, 255, 255, 0);
    width: 148px;
    height: 30;
    font-size: 25px;
    
}
.hh{
    width: 280px;
    height: 0.8px;
    border: 3px black solid;
    margin-left: -3px;
    margin-right: -60px;
    margin-top: -8px;
    border-right: none;
    border-left: none;
}